*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to top, white,rgb(228, 168, 93));
    background-position: center;
    background-size:cover ;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    gap:100px;
}
.pic{
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    max-height: 500px;
    flex-wrap: wrap;
}
.cookie{
    aspect-ratio: 1/1;
    min-width: 200px;
    max-width: 400px;
    background: url(img/cakes-sweets-parties-chocolate-brigadeiro-pudding_538646-6611.avif);
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
}
.title{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.longdescription{
    text-align: center;
    width: 100%;
    max-width: 400px;
    min-height: 200px; 
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}