*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image:url('img/Untitled-1.png');
    background-position: center;
    background-size:cover ;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9999;
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: clamp(1.2rem,1.5vw,1.5rem);
    font-weight: bold;
    font-family: 'Lucida Sans', sans-serif;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  header nav ul li a {
    color:  rgb(81, 22, 22);
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color:  rgb(81, 22, 22);
    padding-left: 10vw;
  }
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    gap:9vh;
}
.pic{
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    max-height: 500px;
    flex-wrap: wrap;
}
.cookie{
    aspect-ratio: 1/1;
    min-width: 200px;
    max-width: 400px;
    background: url(img/french-choux-pastry-with-white-cream-strawberries_140725-5809.avif);
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
}
.title{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: clamp(1.5rem,3vw,5rem);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.longdescription{
  text-align: center;
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  max-height: 500px;
  border: 5px solid rgb(81, 22, 22) ;
  margin-bottom: 85px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.button{
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 1vh;
  margin-top: 30px;
}
button{
  margin:30px;
  padding: 15px 30px;
  background-color:rgb(81, 22, 22) ;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
.fa-solid-fa-basket-shopping{
  padding: 5px;

}